<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udlap.ingsoft.proyecto">

    <!-- PERMISO DE PODER ESCRIBIR TXT/ ALMACENAMIENTO INTERNO -->
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <!-- PERMISO DE CREAR SOCKETS PARA ESTABLECER CONEXIONES A INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- INICIO DE LA APLICACION -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/anlog"
        android:label="Alfa Niños"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--*********************INICIO DE LAS ACTIVIDADES ***************************-->
        <!--Actividad Principal que solo pueda ser creada una sola vez -->
        <!-- (ACTIVIDAD LOGIN) -->
        <activity android:name=".Login"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- FIN ACTIVIDAD LOGIN-->

        <!-- ACTIVIDAD PANTALLA DE REGISTRO -->
        <activity android:name=".Registro"
            android:launchMode="singleTop">

        </activity>
        <!-- FIN ACTIVIDAD PANTALLA DE REGISTRO-->

        <!-- ACTIVIDAD MENU PRINCIPAL-->
        <activity android:name=".MenuPrincipal"
                  android:launchMode="singleTop">

        </activity>
        <!--FIN ACTIVIDAD menu principal -->

        <!-- Agregar menu de nivel **OBSERVADORES** que solo pueda ser creado una vez -->
        <!-- Bloquear a que esta pantalla solo este en modo portrait-->
        <activity android:name=".MenuObservadores"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">

        </activity>
        <!-- FIN ACTIVIDAD MENU OBSERVADORES -->

        <!-- Agregar submmenu de ejercicios abecedario que solo pueda ser creado una vez -->
        <activity android:name=".SubmenuAbcObser"
                  android:launchMode="singleTop">

        </activity>
        <!-- Fin submmenu de ejercicios abecedario -->

        <!-- Agregar ACTIVIDAD EJERCICIO ABECEDARIO -->
        <activity android:name=".EjercicioAbecedario"
            android:launchMode="singleTop">

        </activity>
        <!-- Fin ACTIVIDAD EJERCICIO ABECEDARIO -->

        <!-- AGREGAR SUBMENU DE EHERCICIOS ASOCIACION DE LETRAS QUE SOLO SE CREE 1 VEZ -->
        <activity android:name=".SubmenuAsocialObser"
            android:launchMode="singleTop">

        </activity>
        <!-- Fin submmenu de ejercicios ASOCIACION DE LETRAS -->

        <!-- Agregar ACTIVIDAD EJERCICIO ASOCIACION LETRAS -->
        <!-- Bloquear a que esta pantalla solo este en modo portrait-->
        <activity android:name=".EjercicioAsociacionletr"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
        <!-- Fin ACTIVIDAD EJERCICIO ABECEDARIO -->

        <!-- Agregar menu de nivel **EXPLORADORES** que solo pueda ser creado una vez -->
        <!-- Bloquear a que esta pantalla solo este en modo portrait-->
        <activity android:name=".MenuExploradores"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">

        </activity>

        <!-- Agregar submmenu de juegos silabicos que solo pueda ser creado una vez -->
        <activity android:name=".SubmSilabicExp"
                  android:launchMode="singleTop">

        </activity>

        <!-- Agregar actividad JUEGO-SILABICO que solo pueda ser creada una vez -->
        <!-- Bloquear a que esta pantalla solo este en modo portrait-->
        <activity android:name=".EjercicioSilabico"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">

        </activity>
        <!--FIN ACTIVIDAD JUEGO-SILABICO -->

        <!-- Agregar menu de nivel ASTRONAUTAS que solo pueda ser creado una vez -->
        <!-- Bloquear a que esta pantalla solo este en modo portrait-->
        <activity android:name=".MenuAstronautas"
                  android:launchMode="singleTop"
                  android:screenOrientation="portrait">
        </activity>
        <!--FIN ACTIVIDAD MENU ASTRONAUTAS -->

        <!-- Agregar submenu de LECTURAS ANIMADAS QUE SOLO PUEDA SER CREADO 1 VEZ -->
        <activity android:name=".SubmenuLecturaAstro"
                  android:launchMode="singleTop">

        </activity>
        <!-- FIN SUBMENU DE LECTURAS ANIMADAS -->

        <!-- Agregar EJERCICIOS de Lectuas Animadas que solo se cree una sola vez -->
        <!-- Bloqueo de esta pantalla solo este en modo portrait,est declarado en el main aqui no-->
        <activity android:name=".EjercicioLectura"
                  android:launchMode="singleTop">

        </activity>
        <!-- FIN ACTIVIDAD LECTURA ANIMADA -->

        <!-- Agregar submenu de juegos ortografia que solo pueda ser creada una vez-->
        <activity android:name=".SubmenuOrtoAstro"
                  android:launchMode="singleTop">

        </activity>
        <!-- FIN SUBMENU JEUGOS ORTOGRAFIA -->

        <!-- Agregar actividad JUEGO ORTOGRAFIA que solo pueda ser creado una sola vez -->
        <!-- Bloquear a que esta pantalla solo este en modo portrait-->
        <activity android:name=".EjercicioOrtografia"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop">

        </activity>
        <!-- FIN ACTIVIDAD JUEGO ORTOGRAFIA -->

        <!-- Agregar actividad Menu Estadisticas que solo pueda ser creada una vez -->
        <activity android:name=".MenuStatistics"
                  android:launchMode="singleTop">

        </activity>
        <!-- FIN MENU ESTADISTICAS -->

        <!--*************** FIN DE LAS ACTIVIDADES******************************* -->

    </application>

</manifest>